$primary: #fe3e57;
$dark   : #29282d;
$white  : #fff;

%roboto-400 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

%roboto-700 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

%quicksand-500 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}



